{{ 'index.css' |  asset_url |  stylesheet_tag }}

<div class="products-wrapper">
    {% for product in collections['all-products'].products %}
        <div class="product-card">
            <div class="pc-img-title">
                <a href="{{ product.url }}">
                    <img class="product-card-img" src="{{ product.featured_image | image_url }}">
                </a>
                {{- product.title | link_to: product.url }}
            </div>
            <div class="pc-price-desc">
                <p> {{ product.price | money }} </p>
                {% if product.available %}
                    <p> Available </p>
                {% else %}
                    <p> Unvailable </p>
                {% endif %}
            </div> 
        </div>
    {% endfor %}
</div>
